# HttPty systemd unit file

[Unit]
Description=HttPty Web Terminal
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/httpty
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=10
Environment=NODE_ENV=production
#User=httpty
#Group=httpty

[Install]
WantedBy=multi-user.target
