# Htty systemd unit file

[Unit]
Description=Htty Web Terminal
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/htty
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=10
Environment=NODE_ENV=production
#User=htty
#Group=htty

[Install]
WantedBy=multi-user.target
